<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="row no-wrap">
    <v-menu
      ref="datePicker"
      v-model="datePickerOpened"
      :close-on-content-click="false"
      lazy=""
      offset-y
      full-width
      max-width="290px"
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="dateString"
          readonly=""
          label="Pick date"
          hint="YYYY-MM-DD format"
          persistent-hint
          v-on="on"
        >
        </v-text-field>
      </template>

      <v-date-picker
        v-model="dateString"
        :min="minDateString"
        :max="maxDateString"
        @input="
          datePickerOpened = false;
          currentDateTime = updateDate();
        "
      >
      </v-date-picker>
    </v-menu>

    <v-menu
      ref="timePicker"
      v-model="timePickerOpened"
      :close-on-content-click="false"
      lazy=""
      offset-y
      full-width
      max-width="290px"
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="timeString"
          readonly=""
          label="Pick time"
          hint="HH:MM format"
          persistent-hint
          v-on="on"
        >
        </v-text-field>
      </template>

      <v-time-picker
        v-if="timePickerOpened"
        v-model="timeString"
        format="24hr"
        @click:minute="
          timePickerOpened = false;
          currentDateTime = updateDate();
        "
      >
      </v-time-picker>
    </v-menu>
  </div>
</template>

<script>
import moment from "moment";

export default {
  name: "DateTimePicker",
  props: {
    // eslint-disable-next-line vue/require-prop-types
    value: {
      validate: v => {
        return v == null || v instanceof Date;
      },
      required: false,
      default: null
    },
    // eslint-disable-next-line vue/require-prop-types
    minDate: {
      validate: v => {
        return v == null || v instanceof Date;
      },
      required: false,
      default: null
    },
    // eslint-disable-next-line vue/require-prop-types
    maxDate: {
      validate: v => {
        return v == null || v instanceof Date;
      },
      required: false,
      default: null
    }
  },
  data: function() {
    return {
      datePickerOpened: false,
      timePickerOpened: false,
      dateString: null,
      timeString: null,
      currentDateTime: null
    };
  },
  computed: {
    minDateString: function() {
      return moment(this.minDate).format("YYYY-MM-DD");
    },
    maxDateString: function() {
      return moment(this.maxDate).format("YYYY-MM-DD");
    }
  },
  watch: {
    value: function(newVal, oldVal) {
      if (newVal === oldVal) {
        return;
      }

      if (newVal == null) {
        this.dateString = "";
        this.timeString = "";
        this.currentDateTime = null;

        return;
      }

      this.dateString = moment.utc(newVal).format("YYYY-MM-DD");
      this.timeString = moment.utc(newVal).format("HH:mm");
    }
  },
  methods: {
    updateDate: function() {
      // Do nothing on null
      if (this.dateString == null || this.timeString == null) {
        return null;
      }

      let newTSVal = moment
        .utc(this.dateString + " " + this.timeString, "YYYY-MM-DD HH:mm")
        .toDate();
      this.$emit("input", newTSVal);

      return newTSVal;
    },
    updateTime: function() {},
    parseDateStrings: function() {
      if (!this.dateString && !this.timeString) {
        return null;
      }

      // return inDate;
    }
  }
};
</script>

<style scoped></style>
