<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-navigation-drawer floating="" permanent="">
    <div class="pl-1 pr-0">
      <v-layout row="">
        <v-flex>
          <v-btn @click="isFileUploadDialogOpened = true">Upload files</v-btn>
        </v-flex>

        <v-spacer></v-spacer>

        <v-flex align-self-center="" class="text-xs-right"
          ><v-icon right="" @click="emitReload">loop</v-icon></v-flex
        >
      </v-layout>
    </div>

    <v-treeview :items="treeItems" :open-on-click="false" class="ml-1">
      <template v-slot:label="{ item }">
        <div
          style="max-width: 200px; word-wrap: break-word;"
          @click="emitSelected(item)"
        >
          {{ item.name }}
        </div>

        <v-spacer></v-spacer>
      </template>
      <template v-slot:append="{ item }">
        <div v-if="item.status !== undefined">
          <template v-if="item.type === 'File'">
            <v-icon
              v-if="item.status === possibleFileStatuses.analyzed"
              @click="emitCreateNewTask(item)"
              >add_circle_outline</v-icon
            >
            <v-icon
              :color="computeIconColor(item)"
              @click="emitEditFile(item)"
              >{{ item.status }}</v-icon
            >
          </template>

          <v-icon
            v-else
            :color="computeIconColor(item)"
            @click="emitEditTask(item)"
            >{{ item.status }}</v-icon
          >
        </div>
      </template>
    </v-treeview>

    <files-upload-dialog
      v-model="isFileUploadDialogOpened"
      @files-uploaded="$emit('navtree-files-uploaded', $event)"
    ></files-upload-dialog>
  </v-navigation-drawer>
</template>

<script lang="ts">
// eslint-disable-next-line no-unused-vars
import { FileInfo, TaskInfo } from "@/lib-ts/api-client";
//@ts-ignore
import FilesUploadDialog from "@/components/FilesUploadDialog";

enum FileStatus {
  // eslint-disable-next-line no-unused-vars
  waiting = "av_timer",
  // eslint-disable-next-line no-unused-vars
  analyzed = "info_outline",
  // eslint-disable-next-line no-unused-vars
  error = "error_outline",
  // eslint-disable-next-line no-unused-vars
  actionRequired = "warning"
}

enum TaskStatus {
  // eslint-disable-next-line no-unused-vars
  waiting = "av_timer",
  // eslint-disable-next-line no-unused-vars
  processed = "info_outline",
  // eslint-disable-next-line no-unused-vars
  error = "error_outline"
}

class File {
  id: string;
  name: string;
  status: FileStatus;
  type: string;
  children: Task[];

  constructor(id: string, name: string, status: FileStatus, children: Task[]) {
    this.id = id;
    this.name = name;
    this.status = status;
    this.children = children;

    this.type = "File";
  }

  static fromFileInfo(fi: FileInfo): File {
    // id
    let fID = fi.file_upload_name;

    // name
    let fName = fi.file_original_name;

    // status
    let fStatus: FileStatus;
    if (fi.file_analyzing_completed) {
      if (
        fi.file_analyzing_errors === null ||
        fi.file_analyzing_errors.length === 0
      ) {
        // Check for timestamp required
        if (
          (fi.file_timestamp_column_name === null ||
            fi.file_timestamp_column_format === null) &&
          fi.file_analyzing_result.possible_timestamp_column_infos !== null &&
          fi.file_analyzing_result.possible_timestamp_column_infos.length !== 0
        ) {
          fStatus = FileStatus.actionRequired;
        } else {
          fStatus = FileStatus.analyzed;
        }
      } else {
        fStatus = FileStatus.error;
      }
    } else {
      fStatus = FileStatus.waiting;
    }

    // children - Tasks
    let fChildren: Task[] = [];
    if (fi.tasks !== null) {
      fi.tasks.forEach(function(ts: TaskInfo) {
        fChildren.push(Task.fromTaskInfo(ts));
      });
    }

    return new File(fID, fName, fStatus, fChildren);
  }

  static fromFileInfos(fi: FileInfo[]): File[] {
    let res: File[] = [];

    fi.forEach(function(f: FileInfo) {
      res.push(File.fromFileInfo(f));
    });

    return res;
  }
}

class Task {
  id: string;
  name: string;
  status: TaskStatus;
  type: string;

  constructor(id: string, name: string, status: TaskStatus) {
    this.id = id;
    this.name = name;
    this.status = status;

    this.type = "Task";
  }

  static fromTaskInfo(ti: TaskInfo): Task {
    // status
    let status: TaskStatus;
    if (ti.task_processed) {
      if (
        ti.task_processing_errors === null ||
        ti.task_processing_errors.length === 0
      ) {
        status = TaskStatus.processed;
      } else {
        status = TaskStatus.error;
      }
    } else {
      status = TaskStatus.waiting;
    }

    // task name - default is unique id
    let name;
    if (ti.task_name == null) {
      name = "" + ti.task_unique_id.slice(0, 25);
    } else {
      name = ti.task_name + "";
    }

    return new Task(ti.task_unique_id, name, status);
  }
}

export default {
  name: "FilesNavTree",
  components: { FilesUploadDialog },
  props: {
    items: {
      type: Array,
      required: true
    }
  },
  data: function() {
    return {
      possibleFileStatuses: FileStatus,
      possibleTaskStatuses: TaskStatus,
      isFileUploadDialogOpened: false
    };
  },
  computed: {
    treeItems: function(): Array<File> {
      //@ts-ignore
      return File.fromFileInfos(this.items);
    }
  },
  methods: {
    emitEditFile: function(item: File) {
      let itemToEmit: FileInfo;
      //@ts-ignore
      for (let i = 0; i < this.items.length; i++) {
        if (item.type == "File") {
          // Item is file
          //@ts-ignore
          if (this.items[i].file_upload_name === item.id) {
            //@ts-ignore
            itemToEmit = this.items[i];
            //@ts-ignore
            this.$emit("navtree-click-edit-file", itemToEmit);
            return;
          }

          // Item is Task - look for TaskInfo
        }
      }
    },
    emitEditTask: function(item: Task) {
      //@ts-ignore
      let itemToEmit = this.findItemToEmit(item);

      //@ts-ignore
      this.$emit("navtree-click-edit-task", itemToEmit);
    },
    emitCreateNewTask: function(item: File) {
      let resItem: FileInfo;

      //@ts-ignore
      for (let i = 0; i < this.items.length; i++) {
        if (item.type === "File") {
          //@ts-ignore
          if (item.id === this.items[i].file_upload_name) {
            //@ts-ignore
            resItem = this.items[i];
            //@ts-ignore
            this.$emit("navtree-click-create-task", resItem);
            return;
          }
        }
      }
    },
    emitSelected: function(item: File | Task) {
      // Find item to emit
      // @ts-ignore
      let itemToEmit = this.findItemToEmit(item);
      //@ts-ignore

      if (item == null) {
        throw "error not found";
      }

      if (itemToEmit instanceof FileInfo) {
        //@ts-ignore
        this.$emit("navtree-click-file", itemToEmit);
      }
      // Item is Task - look for TaskInfo
      else {
        //@ts-ignore
        this.$emit("navtree-click-task", itemToEmit);
        return;
      }
    },
    emitReload: function(event: any) {
      // @ts-ignore
      this.$emit("navtree-click-reload", event);
    },
    findItemToEmit: function(item: File | Task): FileInfo | TaskInfo | null {
      // Find item to emit
      let itemToEmit: TaskInfo | FileInfo;
      //@ts-ignore
      for (let i = 0; i < this.items.length; i++) {
        if (item.type == "File") {
          // Item is file
          //@ts-ignore
          if (this.items[i].file_upload_name === item.id) {
            //@ts-ignore
            itemToEmit = this.items[i];
            return itemToEmit;
          }

          // Item is Task - look for TaskInfo
        } else {
          //@ts-ignore
          for (let j = 0; j < this.items[i].tasks.length; j++) {
            //@ts-ignore
            if (this.items[i].tasks[j].task_unique_id === item.id) {
              //@ts-ignore
              itemToEmit = this.items[i].tasks[j];
              return itemToEmit;
            }
          }
        }
      }

      return null;
    },
    computeIconColor: function(item: File | Task) {
      if (
        item.status === FileStatus.error ||
        item.status === TaskStatus.error
      ) {
        return "error";
      }

      if (
        item.status === FileStatus.analyzed ||
        item.status === TaskStatus.processed
      ) {
        return "";
      }

      if (item.status === FileStatus.actionRequired) {
        return "warning";
      }

      return undefined;
    }
  }
};
</script>

<style>
.ml-1 > .v-treeview-node--leaf {
  margin-left: 4px !important;
}
</style>
