<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-container>
    <v-layout align-center justify-center row fill-height>
      <v-flex md3>
        <v-select
          v-model="selectedFile"
          :items="filesList"
          item-text="file_original_name"
          item-value="file_upload_name"
          label="Select file"
          return-object=""
          @change="handleEmitFile"
        >
        </v-select>
      </v-flex>

      <v-spacer></v-spacer>

      <v-flex md3>
        <v-select
          v-model="selectedTask"
          :items="tasksToShow"
          :item-text="computeTaskName"
          item-value="task_unique_id"
          label="Select task"
          return-object=""
          @change="handleEmitTask"
        >
        </v-select>
      </v-flex>

      <v-spacer></v-spacer>

      <v-flex md3>
        <v-select
          v-model="selectedTaskTimeRange"
          :items="timeRangesToShow"
          label="Select time range"
          return-object=""
          @change="handleEmitTaskTimeRange"
        >
          <template v-slot:selection="{ item }">{{
            computeTimeRangeName(item)
          }}</template>

          <template v-slot:item="{ item }">{{
            computeTimeRangeName(item)
          }}</template>
        </v-select>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="js">

export default {
  name: "FileSelectView",
  props: {
    file: {
      validate: (val) => { return typeof val === "FileInfo" || val ===null;},
      required: true,
    },
    task:{
      validate: (val) => { return typeof val === "TaskInfo" || val ===null;},
      required:true,
    },
    filesList: {
      type: Array,
      required: true,
    },
  },
  data: function() {
    return{
      selectedFile: null,
      selectedTask: null,
      selectedTaskTimeRange: null,
    };
  },
  computed: {
    fileInfo: function() {
      return this.file;
    },
    tasksToShow: function() {
      if (this.selectedFile !== null && this.selectedFile !== undefined) {
        return this.selectedFile.tasks;
      }
      return [];
    },
    timeRangesToShow: function() {
      if (this.selectedTask !== null) {
        return this.selectedTask.time_ranges_to_analyze;
      }
      return [];
    },
  },
  watch:{
    file: function (newVal, oldVal) {
      if (oldVal !== newVal){
        this.selectedFile = newVal;

        this.selectedTask = null;
        this.selectedTaskTimeRange = null;
      }
    },
    task: function (newVal, oldVal) {
      if (oldVal !== newVal){
        this.selectedTask = newVal;

        this.selectedTaskTimeRange = null;
      }
    },
  },
  methods:{
    computeTimeRangeName: function(tr){
      return tr.range_start + " - " + tr.range_end;
    },
    handleEmitFile: function () {
      this.$emit("selected-file", {
        file: this.selectedFile,
        task: null,
        taskTimeRange: null,
      });
    },
    handleEmitTask: function () {
      this.$emit("selected-task", {
        file: this.selectedFile,
        task: this.selectedTask,
        taskTimeRange: null,
      });
    },
    handleEmitTaskTimeRange: function () {
      this.$emit("selected-task-time-range", {
        file: this.selectedFile,
        task: this.selectedTask,
        taskTimeRange: this.selectedTaskTimeRange,
      });
    },
    computeTaskName: function (item) {
      return item.task_name==null?item.task_unique_id:item.task_name;
    }
  },
};
</script>

<style scoped></style>
