<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-dialog :value="dialogOpened" max-width="90%" @input="handleDialogClose">
    <v-card>
      <v-card-title
        ><v-spacer></v-spacer
        ><v-icon right="" @click="handleDialogClose"
          >close</v-icon
        ></v-card-title
      >

      <v-container>
        <v-layout row class="pl-3 pr-2">
          <v-flex xs4>
            <v-select
              v-model="selectedCodepage"
              label="Select uploaded files codepage"
              :items="supportedCodepages"
              @change="handleSelectedCodepageChange"
            >
              <template v-slot:selection="{ item }">{{ item }}</template>

              <template v-slot:item="{ item }">{{ item }}</template>
            </v-select>
          </v-flex>
          <v-spacer></v-spacer>
          <v-flex xs2 class="text-xs-right">
            <v-btn
              align-self-center=""
              :disabled="
                filesToUpload == null ||
                  filesToUpload.length === 0 ||
                  waitForUploadCompletion
              "
              @click="handleFileUploadButtonClick"
              >Upload</v-btn
            >
          </v-flex>
        </v-layout>

        <!--        Upload error message -->
        <v-layout>
          <v-flex class="pl-3 pr-3">
            <status-alert
              :value="uploadError != null"
              type="error"
              :text="uploadError"
              @input="handleCloseErrorAlert"
            ></status-alert>
          </v-flex>
        </v-layout>

        <v-layout>
          <v-flex>
            <!--            v-if="dialogOpened" added in order to rerender the button
            because the button has no any possibility to reset its internal state as I can see-->
            <upload-btn
              v-if="dialogOpened"
              block=""
              color=""
              no-title-update=""
              :disabled="waitForUploadCompletion"
              multiple=""
              :title="textOnSelectFilesButton"
              @file-update="handleSelectFilesToUploadClick"
            >
            </upload-btn>
          </v-flex>
        </v-layout>

        <v-layout class="pl-3 pr-3">
          <v-flex>
            <v-expansion-panel>
              <v-expansion-panel-content>
                <template v-slot:header="">
                  Selected files
                </template>

                <v-list>
                  <v-list-tile
                    v-for="(item, index) in filesToUpload"
                    :key="index"
                  >
                    {{ item.name }}
                    <v-icon @click="handleDeleteFileFromList(item)"
                      >delete</v-icon
                    >
                  </v-list-tile>
                </v-list>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import UploadBtn from "vuetify-upload-button";
import StatusAlert from "@/components/StatusAlert";

export default {
  name: "FilesUploadDialog",
  components: { UploadBtn, StatusAlert },
  props: {
    value: {
      type: Boolean,
      required: true
    }
  },
  data: function() {
    return {
      dialogOpened: this.value,
      filesToUpload: null,
      uploadedFilesCount: 0,
      supportedCodepages: null,
      selectedCodepage: "UTF-8",
      waitForUploadCompletion: false,
      uploadError: null
    };
  },
  computed: {
    textOnSelectFilesButton: function() {
      if (this.filesToUpload == null || this.filesToUpload.length === 0) {
        return "Select files to upload";
      }

      return `Uploaded ${this.uploadedFilesCount} of ${
        this.filesToUploadCount
      }`;
    },
    filesToUploadCount: function() {
      if (this.filesToUpload == null) {
        return 0;
      }

      return this.filesToUpload.length;
    }
  },
  watch: {
    value: function(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.dialogOpened = newVal;
      }
    }
  },
  created: async function() {
    try {
      this.supportedCodepages = await this.$ApiClient.getSupportedCodepages();
    } catch (e) {
      this.uploadError = e.toString();
    }
  },
  methods: {
    handleDialogClose: function() {
      this.dialogOpened = false;

      this.resetDialog();

      this.$emit("input", false);
    },
    handleDeleteFileFromList: function(file) {
      let newFiles = [];
      for (let i = 0; i < this.filesToUpload.length; i++) {
        if (this.filesToUpload[i] !== file) {
          newFiles.push(this.filesToUpload[i]);
        }
      }

      this.filesToUpload = newFiles;
    },
    handleSelectedCodepageChange: function(codepageName) {
      if (codepageName != null) {
        this.selectedCodepage = codepageName;
      }
    },
    handleFileUploadButtonClick: async function() {
      if (this.filesToUpload == null) {
        return;
      }

      this.uploadedFilesCount = 0;
      this.waitForUploadCompletion = true;

      for (let i = 0; i < this.filesToUpload.length; i++) {
        try {
          let response = await this.$ApiClient.uploadFile(
            this.filesToUpload[i],
            this.selectedCodepage
          );

          if (response.status === 200) {
            this.uploadedFilesCount += 1;
          }
        } catch (e) {
          this.uploadError = `Error uploading files. Uploaded ${
            this.uploadedFilesCount
          } of ${this.filesToUploadCount}. Status: ${e}`;

          this.$emit("files-uploading-error", this.uploadError);
          return;
        }
      }

      if (this.filesToUploadCount === this.uploadedFilesCount) {
        this.uploadedFilesCount = 0;
        this.filesToUpload = null;

        this.waitForUploadCompletion = false;
      }

      this.$emit("files-uploaded", this.uploadedFilesCount);
    },
    handleSelectFilesToUploadClick: function(files) {
      this.filesToUpload = files;
    },
    handleCloseErrorAlert: function(event) {
      if (event != null) {
        this.resetDialog();
      }
    },
    resetDialog: function() {
      this.filesToUpload = null;
      this.selectedCodepage = "UTF-8";
      this.uploadedFilesCount = 0;
      this.uploadError = null;
      this.waitForUploadCompletion = false;
    }
  }
};
</script>

<style scoped></style>
