<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-dialog :value="value !== null" max-width="90%" @input="handleDialogClose">
    <v-card v-if="intFile !== null">
      <v-card-title
        ><v-spacer></v-spacer>
        <v-icon @click="handleDialogClose">close</v-icon>
      </v-card-title>

      <v-container>
        <!-- Dialog header       -->
        <v-layout row wrap>
          <v-flex xs10 sm4>
            <div v-if="isErrorDialog" class="pl-0 pr-0">
              File {{ intFile.file_original_name }} errors:
            </div>
            <div v-else class="pl-0 pr-0">
              <!--              File {{ intFile.file_original_name }}, information-->
              <v-text-field v-model="intFile.file_original_name">
                <template v-slot:append="">
                  <v-icon @click="handleFileRename">save</v-icon>
                </template>
              </v-text-field>
            </div>
          </v-flex>

          <!--          Thresholds file download-->
          <v-flex v-if="!isErrorDialog" align-self-center="">
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <a
                  :href="
                    $ApiClient.getTriggersTemplateLink(intFile.file_upload_name)
                  "
                  class="no-decoration"
                >
                  <v-icon color="" v-on="on">cloud_download</v-icon>
                </a>
              </template>
              <span>Download Triggers Template</span>
            </v-tooltip>
          </v-flex>

          <v-spacer></v-spacer>

          <v-flex class="text-xs-right" shrink="">
            <div class="pl-0 pr-0">
              <v-btn @click="handleFileDelete">Delete File</v-btn>
            </div>
          </v-flex>
        </v-layout>

        <!-- Dialog timestamp column format selector        -->
        <v-layout v-if="!isErrorDialog" row>
          <v-flex xs10>
            <v-select
              v-model="selectedTimestampColumn"
              :disabled="waitingForResponse"
              label="Set timestamp column:"
              :items="
                intFile.file_analyzing_result.possible_timestamp_column_infos
              "
              return-object=""
            >
              <template v-slot:selection="{ item }"
                >Column "{{ item.timestamp_column_name }}" formatted as "{{
                  item.timestamp_column_format
                }}"</template
              >

              <template v-slot:item="{ item }"
                >Column "{{ item.timestamp_column_name }}" formatted as "{{
                  item.timestamp_column_format
                }}"</template
              >
            </v-select>
          </v-flex>

          <v-flex class="text-xs-right" align-self-center="">
            <v-btn
              :disabled="waitingForResponse || !isTimestampColumnSet"
              @click="handleSaveButton"
              >Set file Timestamp column</v-btn
            >
          </v-flex>
        </v-layout>

        <!--        Error alert -->
        <v-layout>
          <v-flex pr-2="">
            <status-alert
              :value="requestError != null"
              :text="requestError"
              type="error"
              @input="handleErrorAlertClose"
            ></status-alert>
          </v-flex>
        </v-layout>

        <!--        File processing errors-->
        <v-layout v-if="isErrorDialog" align-center justify-end row fill-height>
          <v-flex xs12>
            <v-list dense="">
              <v-subheader class="pl-0">File processing errors:</v-subheader>
              <template
                v-for="(err, index) in intFile.file_analyzing_errors"
                class="pl-0"
              >
                <v-list-tile :key="index">
                  {{ err }}
                </v-list-tile>
              </template>
            </v-list>
          </v-flex>
        </v-layout>

        <!--        File information-->
        <v-layout v-if="!isErrorDialog" row wrap pr-2="">
          <v-flex xs12>
            <v-expansion-panel focusable="">
              <v-expansion-panel-content>
                <template v-slot:header="">
                  <div>File information</div>
                </template>

                <v-data-table
                  hide-actions=""
                  :headers="fileInfoTableHeaders"
                  :pagination.sync="fileInfoPaginationSettings"
                  :items="fileInfoItems"
                >
                  <template v-slot:items="props">
                    <td class="text-xs-left">{{ props.item.name }}</td>
                    <td class="text-xs-left">
                      <simple-list-view
                        v-if="isArray(props.item.value)"
                        :value="props.item.value"
                      ></simple-list-view>
                      <span v-else>{{ props.item.value }}</span>
                    </td>
                  </template>
                </v-data-table>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-flex>

          <!--        File Tasks information-->
          <v-flex xs12>
            <v-expansion-panel focusable="">
              <v-expansion-panel-content>
                <template v-slot:header="">
                  <div>File Tasks</div>
                </template>

                <v-expansion-panel focusable="">
                  <v-expansion-panel-content
                    v-for="(item, index) in intFile.tasks"
                    :key="index"
                  >
                    <template v-slot:header="">
                      <div>{{ item.task_name }}</div></template
                    >
                    <task-table-view :task="item"></task-table-view>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import { FileInfo } from "@/lib-ts/api-client";
import { TimestampColumnInfo } from "@/lib-ts/api-client";
import TaskTableView from "@/components/TaskTableView";
import SimpleListView from "@/components/SimpleListView";
import StatusAlert from "@/components/StatusAlert";

export default {
  name: "FileEditView",
  components: { TaskTableView, SimpleListView, StatusAlert },
  props: {
    // eslint-disable-next-line vue/require-prop-types
    value: {
      validate: f => {
        return f === null || f instanceof FileInfo;
      },
      required: false,
      default: null
    }
  },
  data: function() {
    return {
      intFile: null,
      selectedTimestampColumn: null,
      fileInfoTableHeaders: [
        {
          text: "Name",
          sortable: false,
          align: "left"
        },
        {
          text: "Value",
          sortable: false,
          align: "left"
        }
      ],
      fileInfoPaginationSettings: { rowsPerPage: -1 },
      waitingForResponse: false,
      requestError: null
    };
  },
  computed: {
    isErrorDialog: function() {
      return (
        this.intFile !== null && this.intFile.file_analyzing_errors.length > 0
      );
    },
    canCreateNewTask: function() {
      return (
        !this.isErrorDialog &&
        this.intFile.file_analyzing_result.timestamp_column_info != null
      );
    },
    fileInfoItems: function() {
      if (this.intFile === null) {
        return [];
      }

      return [
        {
          name: "File original name",
          value: this.intFile.file_original_name
        },
        {
          name: "File uploaded name",
          value: this.intFile.file_upload_name
        },
        {
          name: "File size, bytes",
          value: this.intFile.file_size
        },
        {
          name: "File analyzing completed",
          value: this.intFile.file_analyzing_completed
        },
        {
          name: "File timestamp column name",
          value: this.intFile.file_timestamp_column_name
        },
        {
          name: "File timestamp column format",
          value: this.intFile.file_timestamp_column_format
        },
        {
          name: "File upload timestamp",
          value: this.intFile.file_upload_timestamp
        },
        {
          name: "File min timestamp",
          value: this.intFile.file_analyzing_result.min_file_timestamp
        },
        {
          name: "File max timestamp",
          value: this.intFile.file_analyzing_result.max_file_timestamp
        },
        {
          name: "File column names",
          value: this.intFile.file_analyzing_result.column_names
        }
      ];
    },
    isTimestampColumnSet: function() {
      return (
        this.selectedTimestampColumn != null &&
        this.selectedTimestampColumn.timestamp_column_format != null &&
        this.selectedTimestampColumn.timestamp_column_name != null
      );
    },
    fileColumnNames: function() {
      if (this.intFile == null) {
        return [];
      }

      return this.intFile.file_analyzing_result.column_names;
    }
  },
  watch: {
    value: function(newValue, oldValue) {
      if (newValue !== oldValue) {
        this.intFile = newValue;

        // Set timestamp column
        if (
          this.intFile !== null &&
          this.intFile.file_analyzing_result.timestamp_column_info !== null
        ) {
          if (
            this.intFile.file_analyzing_result.timestamp_column_info
              .timestamp_column_format !== null &&
            this.intFile.file_analyzing_result.timestamp_column_info
              .timestamp_column_name !== null
          ) {
            this.selectedTimestampColumn = this.intFile.file_analyzing_result.timestamp_column_info;
          }
        } else {
          this.selectedTimestampColumn = null;
        }
      }
    }
  },
  methods: {
    handleDialogClose: function() {
      this.$emit("input", null);
      this.selectedTimestampColumn = null;
    },
    handleSaveButton: async function() {
      if (this.isTimestampColumnSet) {
        // Disable other actions
        this.waitingForResponse = true;

        // Send update
        try {
          let newTSColInfo = new TimestampColumnInfo(
            this.selectedTimestampColumn.timestamp_column_name,
            this.selectedTimestampColumn.timestamp_column_format
          );

          let response = await this.$ApiClient.sendTimestampColumnUpdate(
            newTSColInfo,
            this.intFile.file_upload_name
          );

          if (response.status === 200) {
            // Emit update
            this.$emit("file-timestamp-column-changed", newTSColInfo);

            this.waitingForResponse = false;
          }
        } catch (e) {
          this.requestError = e;
        }
      }
    },
    handleFileRename: async function() {
      if (this.intFile.file_original_name == null) {
        return;
      }

      // Disable actions
      this.waitingForResponse = true;

      // Send update
      try {
        let response = await this.$ApiClient.sendFileRename(
          this.intFile.file_original_name,
          this.intFile.file_upload_name
        );

        if (response.status === 200) {
          this.waitingForResponse = false;
          // Emit update event
          this.$emit("file-name-changed", this.intFile.file_original_name);
        }
      } catch (e) {
        this.requestError = e;
      }
    },
    handleFileDelete: async function() {
      if (this.intFile.file_upload_name == null) {
        return;
      }

      if (
        !confirm(
          `Are you sure want to delete file ${this.intFile.file_original_name}?`
        )
      ) {
        return;
      }

      // Disable actions
      this.waitingForResponse = true;

      // Send update
      try {
        let response = await this.$ApiClient.sendFileDelete(
          this.intFile.file_upload_name
        );

        if (response.status === 200) {
          this.waitingForResponse = false;
          this.handleDialogClose();

          // Emit update event
          this.$emit("file-deleted", this.intFile.file_original_name);
        }
      } catch (e) {
        this.requestError = e;
        this.$emit(
          "file-delete-request-error",
          this.intFile.file_original_name
        );
      }
    },
    handleErrorAlertClose: function(event) {
      if (event == null) {
        return;
      }

      this.waitingForResponse = false;
      this.requestError = null;
    },
    isIterable: function(obj) {
      // checks for null and undefined
      if (obj == null) {
        return false;
      }
      return typeof obj[Symbol.iterator] === "function";
    },
    isArray: function(obj) {
      // checks for null and undefined
      if (obj == null) {
        return false;
      }

      return Array.isArray(obj);
    }
  }
};
</script>

<style>
.no-padding-list-tile .v-list__tile {
  padding-left: 0;
  padding-right: 0;
}

.force-list-background-none {
  background: none !important;
}

a.no-decoration {
  outline: none;
  text-decoration: none;
}

a.no-decoration:link {
  outline: none;
  text-decoration: none;
}

a.no-decoration:visited {
  outline: none;
  text-decoration: none;
}
</style>
