<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-layout row wrap>
    <v-flex xs12>
      <file-select-view
        :file="selectedFile"
        :task="selectedTask"
        :files-list="filesList"
        @selected-file="$emit('selected-file', $event)"
        @selected-task="$emit('selected-task', $event)"
        @selected-task-time-range="$emit('selected-task-time-range', $event)"
      ></file-select-view>
    </v-flex>

    <v-flex xs12>
      <v-data-table :headers="tableHeaders" :items="tableItems">
        <template v-slot:items="props">
          <td>{{ props.item.column_to_analyze_name }}</td>
          <td class="text-xs-right">
            {{ props.item.processed_values_count }}
          </td>
          <td class="text-xs-right">
            {{ props.item.processing_result.min }}
          </td>
          <td class="text-xs-right">
            {{ props.item.processing_result.max }}
          </td>
          <td class="text-xs-right">
            {{ props.item.processing_result.mean }}
          </td>
          <td class="text-xs-right">
            {{ props.item.processing_result.variance }}
          </td>
          <td class="text-xs-right">
            {{ props.item.processing_result.percentile80 }}
          </td>
          <td class="text-xs-right">
            {{ props.item.processing_result.percentile90 }}
          </td>
          <td class="text-xs-right">
            {{ props.item.processing_result.percentile95 }}
          </td>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script lang="js">
// import { FileInfo, TaskInfo } from "@/lib-ts/api-client";
import FileSelectView from "@/components/FileSelectView";
import {FileInfo, TaskInfo, TaskTimeRange} from "@/lib-ts/api-client";
// import TaskInfoView from "@/components/TaskInfoView.vue";

export default {
  name: "MainContent",
  components: { FileSelectView },
  props: {
    // eslint-disable-next-line vue/require-prop-types
    selectedFile: {
      required: true,
      validate: (v) => {return v===null || v instanceof FileInfo;}
    },
    // eslint-disable-next-line vue/require-prop-types
    selectedTask: {
      required: true,
      validate: (v) => {return v===null || v instanceof TaskInfo;}
    },
    // eslint-disable-next-line vue/require-prop-types
    selectedTaskTimeRange: {
      required: true,
      validate: (v) => {return v===null || v instanceof TaskTimeRange;}
    },
    // eslint-disable-next-line vue/require-prop-types
    filesList: {
      required: true,
      validate: (v) => {return v===null || v instanceof Array;}
    }
  },
  data: function() {
    return {
      tableHeaders: [
        {
          text: "Counter",
          value: "column_to_analyze_name",
          align: "left",
          sortable: true
        },
        {
          text: "Processed values count",
          value: "processed_values_count",
          align: "left",
          sortable: true
        },
        {
          text: "Minimum",
          value: "processing_result.min",
          align: "left",
          sortable: true
        },
        {
          text: "Maximum",
          value: "processing_result.max",
          align: "left",
          sortable: true
        },
        {
          text: "Mean",
          value: "processing_result.mean",
          align: "left",
          sortable: true
        },
        {
          text: "Variance",
          value: "processing_result.variance",
          align: "left",
          sortable: true
        },
        {
          text: "Percentile 80",
          value: "processing_result.percentile80",
          align: "left",
          sortable: true
        },
        {
          text: "Percentile 90",
          value: "processing_result.percentile90",
          align: "left",
          sortable: true
        },
        {
          text: "Percentile 95",
          value: "processing_result.percentile95",
          align: "left",
          sortable: true
        }
      ]
    };
  },
  computed:{
    tableItems: function () {
      if (this.selectedTaskTimeRange === null){
        return [];
      }else{
        return  this.selectedTaskTimeRange.columns_to_analyze;
      }
    }
  }
};
</script>

<style scoped></style>
