<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-data-table
    :headers="taskFormHeaders"
    :items="newTimeRanges"
    :pagination.sync="pagination"
  >
    <template v-slot:items="props">
      <td class="text-xs-left">
        <date-time-picker
          v-model="props.item.range_start"
          :min-date="minFileTimestamp"
          :max-date="maxFileTimestamp"
        ></date-time-picker>
      </td>
      <td class="text-xs-left">
        <date-time-picker
          v-model="props.item.range_end"
          :min-date="minFileTimestamp"
          :max-date="maxFileTimestamp"
        ></date-time-picker>
      </td>
      <td class="text-xs-left">
        <v-select
          v-model="props.item.columns_to_analyze"
          multiple=""
          :items="possibleColumns"
          item-text="column_to_analyze_name"
          item-value="column_to_analyze_name"
        >
          <template v-slot:prepend-item="">
            <v-list-tile ripple @click="toggleAllColumns(props.item)">
              <v-list-tile-action>
                <v-icon :color="computeSelectAllColor(props.item)">{{
                  computeSelectAllIcon(props.item)
                }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Select All</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider class="mt-2"></v-divider>
          </template>

          <template v-slot:selection="{ item, index }">
            <v-chip v-if="index <= 5">
              <span>{{ item }}</span>
            </v-chip>
            <span v-if="index === 6" class="grey--text caption"
              >(+{{ props.item.columns_to_analyze.length - 6 }} others)</span
            >
          </template>
        </v-select>
      </td>
      <td class="text-xs-right">
        <v-icon @click="deleteTaskTimeRange(props.item)">delete</v-icon>
      </td>
    </template>
    <template v-slot:footer="">
      <td :colspan="taskFormHeaders.length - 1" class="text-xs-left pl-0">
        <v-btn :disabled="disabled" @click="resetForm">Reset</v-btn>
        <v-btn :disabled="!enableTaskCreateButton || disabled" @click="emitSave"
          >Create a new Task</v-btn
        >
      </td>
      <td class="text-xs-right pr-0">
        <v-btn :disabled="disabled" @click="addTaskTimeRange"
          >New Time Range</v-btn
        >
      </td>
    </template>
  </v-data-table>
</template>

<script>
import DateTimePicker from "@/components/DateTimePicker";

export default {
  name: "NewTaskForm",
  // eslint-disable-next-line vue/no-unused-components
  components: { DateTimePicker },
  props: {
    possibleColumns: {
      type: Array,
      required: true
    },
    value: {
      type: Array,
      required: false,
      default: function() {
        return [];
      }
    },
    minFileTimestamp: {
      type: Date,
      default: new Date(0, 0)
    },
    maxFileTimestamp: {
      type: Date,
      default: new Date(3000, 0)
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data: function() {
    return {
      taskFormHeaders: [
        {
          text: "Range start",
          value: "range_start",
          width: "100px"
        },
        {
          text: "Range end",
          value: "range_end",
          width: "100px"
        },
        {
          text: "Columns to perform statistics computation for",
          value: "columns_to_analyze",
          sortable: false
        },
        {
          text: "Actions",
          value: "actions",
          align: "right",
          width: "50px",
          sortable: false
        }
      ],
      newTimeRanges: [],
      pagination: {
        sortBy: ""
      }
    };
  },
  computed: {
    enableTaskCreateButton: function() {
      return this.newTimeRanges !== null && this.newTimeRanges.length > 0;
    }
  },
  watch: {
    value: function(newVal, oldVal) {
      if (newVal == null || newVal.length === 0) {
        this.newTimeRanges = [];
        return;
      }

      if (newVal !== oldVal) {
        this.newTimeRanges = newVal;
      }
    }
  },
  methods: {
    emitInput: function() {
      this.$emit("input", this.newTimeRanges);
    },
    emitReset: function() {
      this.$emit("reset");
    },
    addTaskTimeRange: function() {
      this.newTimeRanges.push({
        range_start: new Date(this.minFileTimestamp),
        range_end: new Date(this.maxFileTimestamp),
        columns_to_analyze: []
      });

      this.pagination.page = Math.ceil(
        this.newTimeRanges.length / this.pagination.rowsPerPage
      );

      this.emitInput();
    },
    deleteTaskTimeRange(item) {
      const index = this.newTimeRanges.indexOf(item);
      confirm("Are you sure you want to delete this Time Range?") &&
        this.newTimeRanges.splice(index, 1);

      this.emitInput();
    },
    resetForm: function() {
      this.newTimeRanges = [];
      this.pagination = {};
      this.emitReset();
    },
    emitSave: function() {
      this.$emit("save", this.newTimeRanges);
    },
    toggleAllColumns: function(item) {
      this.$nextTick(() => {
        if (item.columns_to_analyze.length === this.possibleColumns.length) {
          item.columns_to_analyze = [];
        } else {
          item.columns_to_analyze = this.possibleColumns.slice();
        }
      });
    },
    computeSelectAllColor: function(item) {
      return item && item.columns_to_analyze.length > 0
        ? "indigo darken-4"
        : "";
    },
    computeSelectAllIcon: function(item) {
      if (
        item &&
        item.columns_to_analyze.length === this.possibleColumns.length
      )
        return "mdi-close-box";

      if (item && item.columns_to_analyze.length > 0) return "mdi-minus-box";

      return "mdi-checkbox-blank-outline";
    }
  }
};
</script>

<style scoped></style>
