<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-dialog :value="dialogOpened" max-width="90%" @input="handleDialogClose">
    <v-card>
      <v-card-title
        ><v-spacer></v-spacer
        ><v-icon right="" @click="handleDialogClose"
          >close</v-icon
        ></v-card-title
      >

      <v-container>
        <v-layout row>
          <v-flex>
            <v-select
              v-model="selectedFile"
              :items="filteredFilesList"
              item-text="file_original_name"
              item-value="file_upload_name"
              label="Select file"
              return-object=""
              :readonly="wasFirstChange"
            >
            </v-select>
          </v-flex>

          <v-spacer></v-spacer>

          <v-flex align-self-center="" class="pr-0 mr-0 text-xs-right">
            <upload-btn
              v-if="dialogOpened"
              ref="thresholdsUploadButton"
              class="pr-0"
              title="Upload thresholds"
              color="grey lighten-4"
              @file-update="handleSelectedThresholdsFileForUpload"
            >
              <template v-if="thresholdsFile != null" slot="icon">
                <v-icon
                  v-if="thresholdsFileParsingErrors == null"
                  color="success"
                  >check</v-icon
                >

                <v-tooltip bottom="">
                  <template v-slot:activator="{ on }">
                    <v-icon
                      v-if="thresholdsFileParsingErrors != null"
                      color="error"
                      v-on="on"
                      >error_outline</v-icon
                    >
                  </template>
                  <span color="error">Incorrect CSV thresholds file</span>
                </v-tooltip>
              </template>
            </upload-btn>
          </v-flex>

          <v-flex v-if="thresholdsFile != null" shrink="">
            <v-icon
              color=""
              @click.stop="handleResetSelectedThresholdsFileForUpload"
              >close</v-icon
            >
          </v-flex>
        </v-layout>

        <!--        New Task Form-->
        <v-layout row wrap>
          <v-flex xs12>
            <new-task-form
              v-model="newTaskFormModelValue"
              :min-file-timestamp="
                selectedFile == null
                  ? null
                  : selectedFile.file_analyzing_result.min_file_timestamp
              "
              :max-file-timestamp="
                selectedFile == null
                  ? null
                  : selectedFile.file_analyzing_result.max_file_timestamp
              "
              :possible-columns="fileColumnNames"
              :disabled="selectedFile == null"
              @save="handleNewTaskFormSave"
              @input="handleFormInput"
              @reset="handleFormReset"
            ></new-task-form>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import { FileInfo } from "../lib-ts/api-client";
import NewTaskForm from "@/components/NewTaskForm";
import {
  NewTaskInfo,
  NewTaskTimeRange,
  FileStatus,
  ColumnThreshold
} from "@/lib-ts/api-client";
import UploadBtn from "vuetify-upload-button";

const csvParse = require("csv-parse");

export default {
  name: "NewTaskDialog",
  components: { NewTaskForm, UploadBtn },
  props: {
    // eslint-disable-next-line vue/require-prop-types
    file: {
      required: false,
      default: null,
      validate: v => {
        return v == null || v instanceof FileInfo;
      }
    },
    filesList: {
      required: true,
      type: Array
    },
    value: {
      required: false,
      default: false,
      type: Boolean
    }
  },
  data: function() {
    return {
      selectedFile: this.file,
      newTaskFormModelValue: [],
      dialogOpened: this.value,
      wasFirstChange: false,
      thresholdsFile: null,
      thresholdsFileParsedCSV: null,
      thresholdsFileParsingErrors: null
    };
  },
  computed: {
    fileColumnNames: function() {
      if (this.selectedFile == null) {
        return [];
      }

      // Filter Timestamp Column
      let timestampColumnName = this.selectedFile.file_timestamp_column_name;

      return this.selectedFile.file_analyzing_result.column_names.filter(
        function(item) {
          return item !== timestampColumnName;
        }
      );
    },
    filteredFilesList: function() {
      if (this.filesList == null) {
        return [];
      }

      let res = [];
      this.filesList.forEach(function(item) {
        if (item.getStatus() === FileStatus.analyzed) {
          res.push(item);
        }
      });

      return res;
    }
  },
  watch: {
    value: function(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.dialogOpened = newVal;
      }
    },
    file: function(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.selectedFile = newVal;
      }
    }
  },
  methods: {
    handleDialogClose: function() {
      this.dialogOpened = false;
      this.selectedFile = null;
      this.newTaskFormModelValue = [];
      this.wasFirstChange = false;

      this.$emit("input", false);
    },
    handleNewTaskFormSave: function(event) {
      /* event contains only Array of time ranges

          in format: [
            {
              "range_start": Date,
              "range_end": Date,
              "columns_to_analyze": string[]
            }
          ]
           */

      // Time Ranges
      let _thresholds = this.thresholdsFileParsedCSV;
      let taskTimeRanges = [];
      event.forEach(function(item) {
        taskTimeRanges.push(
          new NewTaskTimeRange(
            item.range_start,
            item.range_end,
            item.columns_to_analyze,
            _thresholds
          )
        );
      });

      // Thresholds

      let payload = new NewTaskInfo(
        this.selectedFile.file_upload_name,
        taskTimeRanges
      );

      this.$emit("new-task-create", payload);
    },
    handleFormReset: function(event) {
      this.wasFirstChange = false;

      this.handleResetSelectedThresholdsFileForUpload(event);
    },
    handleFormInput: function(item) {
      this.wasFirstChange = true;
    },
    handleSelectedThresholdsFileForUpload: function(file) {
      this.thresholdsFile = file;

      let _this = this;

      let reader = new FileReader();

      reader.onload = function() {
        csvParse(
          reader.result,
          {
            comment: "#"
          },
          function(err, parsedRes) {
            if (err != null) {
              _this.thresholdsFileParsingErrors = err;
              _this.thresholdsFileParsedCSV = null;

              return;
            }

            if (parsedRes.length === 0) {
              _this.thresholdsFileParsingErrors = "Zero-length input";
              _this.thresholdsFileParsedCSV = null;
              return;
            }

            // Check if columns header has format: ["column_name", "min_threshold", "max_threshold"]
            const etalonHeaderRow = [
              "column_name",
              "min_threshold",
              "max_threshold"
            ];

            // Check header row
            let headerRow = parsedRes[0];
            if (headerRow.length !== 3) {
              _this.thresholdsFileParsingErrors = "Incorrect columns count";
              _this.thresholdsFileParsedCSV = null;
              return;
            }
            for (let i = 0; i < headerRow.length; i++) {
              if (headerRow[i] !== etalonHeaderRow[i]) {
                _this.thresholdsFileParsingErrors = `Incorrect column name for column #${i}. Column name: ${
                  headerRow[i]
                } must be ${etalonHeaderRow[i]}`;
                _this.thresholdsFileParsedCSV = null;
                return;
              }
            }

            // Parse CSV to column thresholds
            // row #0 is a header row
            let result = [];
            for (let i = 1; i < parsedRes.length; i++) {
              let minTH = null;
              let maxTH = null;

              // Do not parse empty columns, leave them as null
              if (parsedRes[i][1].length > 0) {
                minTH = Number(parsedRes[i][1]);

                if (isNaN(minTH)) {
                  _this.thresholdsFileParsedCSV = null;
                  _this.thresholdsFileParsingErrors = `min_threshold value for column ${
                    parsedRes[i][0]
                  } can not be converted to number. Column text "${
                    parsedRes[i][1]
                  }"`;
                }
              }

              // Do not parse empty columns, leave them as null
              if (parsedRes[i][2].length > 0) {
                maxTH = Number(parsedRes[i][2]);

                if (isNaN(maxTH)) {
                  _this.thresholdsFileParsedCSV = null;
                  _this.thresholdsFileParsingErrors = `max_threshold value for column ${
                    parsedRes[i][0]
                  } can not be converted to number. Column text "${
                    parsedRes[i][2]
                  }"`;
                }
              }

              result.push(new ColumnThreshold(parsedRes[i][0], minTH, maxTH));
            }

            _this.thresholdsFileParsedCSV = result;
            _this.thresholdsFileParsingErrors = null;
          }
        );
      };

      try {
        reader.readAsText(this.thresholdsFile);
      } catch (e) {
        this.thresholdsFileParsingErrors = e;
      }
    },
    handleResetSelectedThresholdsFileForUpload: function() {
      this.thresholdsFile = null;
      this.$refs.thresholdsUploadButton.clear();
      this.thresholdsFileParsedCSV = null;
      this.thresholdsFileParsingErrors = null;
    }
  }
};
</script>

<style>
.mr-0 .upload-btn {
  margin-right: 0;
}
</style>
