<template>
  <div v-if="intVal.length === 0">None</div>
  <v-list v-else dense="" class="force-list-background-none">
    <v-list-tile
      v-for="(it, ind) in intVal"
      :key="ind"
      class="no-padding-list-tile"
    >
      {{ it }}
    </v-list-tile>
  </v-list>
</template>

<script>
export default {
  name: "SimpleListView",
  props: {
    value: {
      type: Array,
      required: true
    }
  },
  computed: {
    intVal: function() {
      if (this.value == null) {
        return [];
      }

      return this.value;
    }
  }
};
</script>

<style scoped></style>
