<template>
  <v-alert
    :value="intValue"
    dismissible=""
    outline=""
    :type="type"
    @input="handleAlertClose"
    >{{ text }}</v-alert
  >
</template>

<script>
export default {
  name: "StatusAlert",
  props: {
    value: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: "success"
    },
    text: {
      type: [String, Error],
      default: ""
    },
    autoClose: {
      type: Boolean,
      default: false
    },
    closeTimeoutSec: {
      type: [Number, String],
      default: 5
    }
  },
  data: function() {
    return {
      intValue: this.value,
      timer: null
    };
  },
  watch: {
    value: function(newVal, oldVal) {
      if (newVal === oldVal) {
        return;
      }

      this.intValue = newVal;

      // Open Alert on value === true
      if (newVal === true && this.autoClose === true) {
        this.startDismissTimer();
      }
    }
  },
  methods: {
    handleAlertClose: function() {
      this.intValue = false;
      clearInterval(this.timer);

      this.$emit("input", false);
    },
    startDismissTimer: function() {
      let _this = this;
      this.timer = setInterval(function() {
        _this.handleAlertClose();
      }, this.closeTimeoutSec * 1000);
    }
  }
};
</script>

<style scoped></style>
