<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-data-table
    hide-actions=""
    :headers="taskInfoTableHeaders"
    :pagination.sync="taskInfoPaginationSettings"
    :items="taskInfoItems"
  >
    <template v-slot:items="props">
      <td class="text-xs-left">{{ props.item.name }}</td>

      <td v-if="isArray(props.item.value)" class="text-xs-left">
        <template v-if="isArrayOfTaskTimeRanges(props.item.value)">
          <time-range-table-view
            :value="props.item.value"
          ></time-range-table-view>
        </template>

        <simple-list-view v-else :value="props.item.value"></simple-list-view>
      </td>
      <td v-else class="text-xs-left">{{ props.item.value }}</td>
    </template>
  </v-data-table>
</template>

<script>
import { TaskInfo, TaskTimeRange } from "@/lib-ts/api-client";
import SimpleListView from "@/components/SimpleListView";
import TimeRangeTableView from "@/components/TimeRangeTableView";

export default {
  name: "TaskTableView",
  components: { SimpleListView, TimeRangeTableView },
  props: {
    task: {
      required: true,
      type: Object,
      validate: f => {
        return f === null || f instanceof TaskInfo;
      }
    }
  },
  data: function() {
    return {
      taskInfoTableHeaders: [
        {
          text: "Name",
          sortable: false,
          align: "left"
        },
        {
          text: "Value",
          sortable: false,
          align: "left"
        }
      ],
      taskInfoPaginationSettings: { rowsPerPage: -1 }
    };
  },
  computed: {
    taskInfoItems: function() {
      if (this.task == null) {
        return [];
      }

      return [
        {
          name: "Name",
          value: this.task.task_name
        },
        {
          name: "Unique ID",
          value: this.task.task_unique_id
        },
        {
          name: "Create timestamp",
          value: this.task.task_create_timestamp
        },
        {
          name: "Processed",
          value: this.task.task_processed
        },
        {
          name: "Processing start timestamp",
          value: this.task.task_processing_start_timestamp
        },
        {
          name: "Processing end timestamp",
          value: this.task.task_processing_end_timestamp
        },
        {
          name: "Processing spent time, sec",
          value: this.task.task_processing_spent_time / 1000000000 // Server returns nano seconds
        },
        {
          name: "Processing errors",
          value: this.task.task_processing_errors
        },
        {
          name: "Time ranges to process",
          value: this.task.time_ranges_to_analyze
        }
      ];
    }
  },
  methods: {
    isArray: function(obj) {
      // checks for null and undefined
      if (obj == null) {
        return false;
      }

      return Array.isArray(obj);
    },
    isArrayOfTaskTimeRanges: function(obj) {
      // is Array
      if (!this.isArray(obj)) {
        return false;
      }

      // For zero-length Array assume false - can not check if true
      if (obj.length === 0) {
        return false;
      }

      for (let i = 0; i < obj.length; i++) {
        if (!(obj[i] instanceof TaskTimeRange)) {
          return false;
        }
      }

      return true;
    }
  }
};
</script>

<style scoped></style>
