<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-dialog :value="dialogOpened" max-width="90%" @input="handleDialogClose">
    <v-card v-if="intTask != null">
      <v-card-title
        ><v-spacer></v-spacer
        ><v-icon right="" @click="handleDialogClose"
          >close</v-icon
        ></v-card-title
      >

      <v-container>
        <!-- Dialog header       -->
        <v-layout row wrap>
          <v-flex xs8 sm4>
            <v-card-title v-if="isErrorDialog" class="pl-0 pr-0">
              File {{ intTask.task_name }} errors:
            </v-card-title>
            <v-card-title v-else class="pl-0 pr-0">
              <!--              Task  information-->
              <v-text-field v-model="intTask.task_name">
                <template v-slot:append="">
                  <v-icon
                    :disabled="waitingForResponse"
                    @click="handleTaskRename"
                    >save</v-icon
                  >
                </template>
              </v-text-field>
            </v-card-title>
          </v-flex>
          <v-spacer></v-spacer>

          <v-flex
            v-if="!isErrorDialog"
            class="text-xs-right"
            align-self-center=""
          >
            <v-btn :href="taskCSVReportLink" :disabled="waitingForResponse">
              Download CSV report
            </v-btn>
          </v-flex>
        </v-layout>

        <!--        Status error alert-->
        <status-alert
          :value="requestError != null"
          :text="requestError"
          type="error"
          @input="handleAlertClose"
        >
        </status-alert>

        <!--        Task Info -->
        <v-layout>
          <v-flex xs12>
            <task-table-view :task="intTask"></task-table-view>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script lang="js">
import { TaskInfo } from "@/lib-ts/api-client";
import TaskTableView from "@/components/TaskTableView";
import StatusAlert from "@/components/StatusAlert";

export default {
  name: "TaskInfoDialog",
  components: {TaskTableView, StatusAlert, },
  props: {
    // eslint-disable-next-line vue/require-prop-types
    task: {
      required: true,
      validate: (v) => {
        return v == null || v instanceof TaskInfo;
      }
    },
    value: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data: function() {
    return {
      dialogOpened: false,
      intTask: null,
      waitingForResponse: false,
      requestError: null
    };
  },
  computed: {
    isErrorDialog: function () {
      if (this.intTask == null) {
        return false;
      }

      return  this.intTask.task_processing_errors != null && this.intTask.task_processing_errors.length !== 0;
    },
    taskCSVReportLink: function () {
      if (this.intTask == null) {
        return "";
      }

      return this.$ApiClient.getCSVReportLink(this.intTask.task_unique_id);
    }
  },
  watch: {
    value: function(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.dialogOpened = newVal;

        this.resetDialogStatus();
      }
    },
    task: function (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.intTask = newVal;
      }
    }
  },
  methods: {
    handleDialogClose: function () {
      this.dialogOpened = false;
      this.resetDialogStatus();
      this.$emit("input", false);
    },
    handleTaskRename: async function () {
      this.waitingForResponse = true;

      try {
        let response = await this.$ApiClient.sendTaskRename(
          this.intTask.task_name,
          this.intTask.task_unique_id
        );

        if (response.status === 200) {
          // Emit update
          this.$emit("task-name-changed", this.intTask.task_name);

          this.resetDialogStatus();
        }
      }catch (e) {
        this.requestError = e;
      }
    },
    handleAlertClose: function (event) {
      if (event == null) {
        return;
      }
      this.resetDialogStatus();
    },
    resetDialogStatus: function () {
      this.requestError = null;
      this.waitingForResponse = false;
    }
  }
};
</script>

<style scoped></style>
