<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div v-if="timeRangeItems.length === 0">None</div>
  <v-data-table
    v-else
    hide-actions=""
    :headers="timeRangeTableHeaders"
    :pagination.sync="timeRangePaginationSettings"
    :items="timeRangeItems"
  >
    <template v-slot:items="props">
      <td class="text-xs-left">{{ props.item.range_start }}</td>
      <td class="text-xs-left">{{ props.item.range_end }}</td>
    </template>
  </v-data-table>
</template>

<script>
import { TaskTimeRange } from "@/lib-ts/api-client";

export default {
  name: "TimeRangeTableView",
  props: {
    value: {
      type: Array,
      required: true,
      validate: f => {
        return f === null || f instanceof TaskTimeRange;
      }
    }
  },
  data: function() {
    return {
      timeRangeTableHeaders: [
        {
          text: "Range start",
          sortable: false,
          align: "left",
          value: "range_start"
        },
        {
          text: "Range end",
          sortable: false,
          align: "left",
          value: "range_end"
        }
      ],
      timeRangePaginationSettings: { rowsPerPage: -1 }
    };
  },
  computed: {
    timeRangeItems: function() {
      if (this.value == null) {
        return [];
      }

      return this.value;
    }
  }
};
</script>

<style scoped></style>
