<template>
  <v-app>
    <v-toolbar app style="padding-left: 0">
      <v-toolbar-title class="headline text-uppercase">
        <span>PerfStat</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-navigation-drawer app clipped floating="" permanent>
      <files-nav-tree
        :items="FilesList"
        @navtree-click-file="handleFileTreeClick"
        @navtree-click-task="handleTaskTreeClick"
        @navtree-click-edit-file="handleFileEditTreeClick"
        @navtree-click-edit-task="handleTaskEditTreeClick"
        @navtree-click-create-task="handleOpenNewTaskDialog"
        @navtree-file-upload="handleFileUpload"
        @navtree-click-reload="handleReload"
        @navtree-files-uploaded="handleReload"
      ></files-nav-tree>
    </v-navigation-drawer>

    <v-content>
      <v-container>
        <v-layout row="">
          <v-flex>
            <status-alert
              :value="requestError != null"
              type="error"
              :text="requestError"
              @input="handleAlertClose"
            ></status-alert>
          </v-flex>
        </v-layout>
        <main-content
          :selected-file="selectedFile"
          :selected-task="selectedTask"
          :selected-task-time-range="selectedTaskTimeRange"
          :files-list="FilesList"
          @selected-file="handleSelectedFile"
          @selected-task="handleSelectedTask"
          @selected-task-time-range="handleSelectedTaskTimeRange"
        ></main-content>
      </v-container>
    </v-content>

    <file-edit-view
      v-model="fileToEdit"
      @file-timestamp-column-changed="handleTimestampColumnChanged"
      @file-name-changed="handleReload"
      @file-deleted="handleFileDeleted"
    ></file-edit-view>

    <new-task-dialog
      v-model="newTaskDialogOpened"
      :file="selectedFileForCreatingNewTask"
      :files-list="FilesList"
      @new-task-create="handleCreateNewTask"
    ></new-task-dialog>

    <task-info-dialog
      v-model="taskInfoDialogOpened"
      :task="selectedTaskForInfoDialog"
      @task-name-changed="handleTaskNameChanged"
    ></task-info-dialog>
  </v-app>
</template>

<script lang="js">
import FilesNavTree from "@/components/FilesNavTree.vue";
import MainContent from "@/components/MainContent.vue";
import FileEditView from "@/components/FileEditView";
import NewTaskDialog from "@/components/NewTaskDialog";
import TaskInfoDialog from "@/components/TaskInfoDialog";
import StatusAlert from "@/components/StatusAlert";

export default {
  name: "App",
  components: {FileEditView, MainContent, FilesNavTree, NewTaskDialog, TaskInfoDialog, StatusAlert},
  data: function() {
    return {
      FilesList: [],
      selectedTask: null,
      selectedFile: null,
      selectedTaskTimeRange: null,
      fileToEdit: null,
      selectedFileForCreatingNewTask: null,
      newTaskDialogOpened: false,
      taskInfoDialogOpened: false,
      selectedTaskForInfoDialog: null,
      requestError: null
    };
  },
  created: async function() {
    // Login
    let loginResult;
    try {
      loginResult = await this.$ApiClient.login();

      if (loginResult !== 200) {
        this.requestError = `Auth request error ${loginResult}`;
        return;
      }

      await this.getStatus();
    }catch (e) {
      this.requestError = e.toString();
    }
  },
  methods: {
    getStatus: async function() {
      try {
        this.FilesList = await this.$ApiClient.getStatus();

        this.requestError = null;
      } catch (e) {
        this.requestError = e.toString();
      }
    },
    handleFileEditTreeClick: function(event){
      this.fileToEdit = event;
    },
    handleTaskEditTreeClick: function(event){
      this.selectedTaskForInfoDialog = event;
      this.taskInfoDialogOpened = true;
    }    ,
    handleFileTreeClick: function(item) {
      this.selectedFile = item;
      this.selectedTask = null;
      this.selectedTaskTimeRange = null;
    },
    handleTaskTreeClick: function(item) {

      for (let i=0;i<this.FilesList.length;i++){
        for(let j=0;j<this.FilesList[i].tasks.length;j++){
          if (item.task_unique_id !== null && item.task_unique_id === this.FilesList[i].tasks[j].task_unique_id){
            this.selectedFile = this.FilesList[i];
            this.selectedTask = this.selectedFile.tasks[j];
            this.selectedTaskTimeRange = null;

            return;
          }
        }
      }
    },
    handleSelectedFile: function(event) {
      this.selectedFile = event.file;
      this.selectedTask = null;
      this.selectedTaskTimeRange = null;
    },
    handleSelectedTask: function(event) {
      this.selectedTask = event.task;
      this.selectedFile = event.file;
      this.selectedTaskTimeRange = null;
    },
    handleSelectedTaskTimeRange: function(event){
      this.selectedTask = event.task;
      this.selectedFile = event.file;
      this.selectedTaskTimeRange = event.taskTimeRange;
    },
    handleTimestampColumnChanged: async function (event) {
      if (event != null) {
        await this.getStatus();
      }
    },
    handleTaskNameChanged: async function(event) {
      if (event != null) {
        await this.getStatus();
      }
    },
    handleFileDeleted: async function(event) {
      if (event != null){
        await this.getStatus();
      }
    },
    handleCreateNewTask: async function(newTask) {

      let resultStatus = await this.$ApiClient.createNewTask(newTask);
      console.log(`Task creating result: ${resultStatus}`);
    },
    handleFileUpload: async function(event){
      if (event != null) {
        await this.getStatus();
      }
    },
    handleOpenNewTaskDialog: function (fileInfo) {

      this.selectedFileForCreatingNewTask = fileInfo;
      this.newTaskDialogOpened = true;
    },
    handleReload: async  function (event) {
      if (event != null){
        await this.getStatus();
      }
    },
    handleAlertClose: function (event) {
      if (event != null) {
        this.requestError = null;
      }
    }
  },
};
</script>
